.navbar {
   min-height: 90px;
 }
 
 .navbar-brand {
   padding: 0 15px;
   height: 80px;
   line-height: 80px;
 }

 img {
	width: 150px;
	height: 58px;
}

.modal-dialog-centered {
   height: fit-content;
   width: 100%;
}