<div class="container jumbotron pt-0">
   <div class="row">

      <!-- ----------------------------------------------------------------------- -->
      <!--                                Car name                                 -->
      <!-- ----------------------------------------------------------------------- -->

      <div class="col-lg-6 col-md-6 col-sm-12 bg-secondary pb-3 pt-3">
         <h5>ايسوزو غمارتين 4×4 سعودي 2020 جديد</h5>

      </div>

      <!-- ----------------------------------------------------------------------- -->
      <!--                                Car price                                -->
      <!-- ----------------------------------------------------------------------- -->

      <div class="col-lg-6 col-md-6 col-sm-12 bg-secondary pb-3 pt-3 text-left">
         <h5>250000 SDG</h5>

      </div>
   </div>
   <div class="row mt-3">

      <!-- ----------------------------------------------------------------------- -->
      <!--                                Car carousel                                -->
      <!-- ----------------------------------------------------------------------- -->

      <div class="col-lg-8 col-md-8 col-sm-12" >
         <ngb-carousel  #carousel interval="3000" [pauseOnHover]="true">
            <ng-template ngbSlide *ngFor="let ad of images">
               <a href="javascript:void(0)">
                  <img id="carousel-image" [src]="ad">
               </a>
            </ng-template>
         </ngb-carousel>
      </div>

      <!-- ----------------------------------------------------------------------- -->
      <!--                               Car seller                                -->
      <!-- ----------------------------------------------------------------------- -->

      <div class="col-lg-4 col-md-4 col-sm-12">
         <div class="card">
            <div class="card-header">
               <h5>المعلن</h5>
            </div>
            <div class="card-body">
               <h5 class="card-title">اسم المعرض</h5>
               <p class="card-text">مكان المعرض</p>
               <a  class="btn btn-primary btn-block text-white">إظهار ارقام الهواتف</a>

            </div>
         </div>
      </div>
   </div>

   <!-- ----------------------------------------------------------------------- -->
   <!--                            car details title                            -->
   <!-- ----------------------------------------------------------------------- -->
   <div class="col-8  car-details">
      <div class="row">
         car details title
      </div>
      <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>رقم الإعلان :</th>
            <td>10290305</td>
         </div>

         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>الماركة :</th>
            <td> ايسوزو </td>
         </div>



         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>المدينة:</th>
            <td>الخرطوم</td>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>السعر:</th>
            <td>30000 SDG</td>
         </div>



         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>الموديل :</th>
            <td>2003</td>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>الممشى:</th>
            <td>50000 كيلومتر</td>
         </div>
      </div>

      <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>الوارد :</th>
            <td> سعودي</td>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>نوع القير :</th>
            <td> عادي</td>
         </div>



         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>نوع الوقود :</th>
            <td> ديزل</td>
         </div>
      </div>
      <div class="row">

         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>نوع الدفع :</th>
            <td> دبل (4x4)</td>
         </div>


         <div class="col-lg-4 col-md-4 col-sm-12">
            <th> اللون:</th>
            <td>أبيض</td>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th> اللون:</th>
            <td>أبيض</td>
         </div>
      </div>

      <!-- ----------------------------------------------------------------------- -->
      <!--                           additional details                            -->
      <!-- ----------------------------------------------------------------------- -->
      <div class="row">
         <th> مميزات اضافية </th>
      </div>
      <div class="row">
         <ul>
            <li>
               محرك 4 سلندر 2.5 CC ديزل تيربو
            </li>
         </ul>
      </div>
   </div>