<div class="container jumbotron">
   <div class="row">

      <!-- ----------------------------------------------------------------------- -->
      <!--                                Car name                                 -->
      <!-- ----------------------------------------------------------------------- -->

      <div class="col">
         <h3>Car name</h3>

      </div>

      <!-- ----------------------------------------------------------------------- -->
      <!--                                Car price                                -->
      <!-- ----------------------------------------------------------------------- -->

      <div class="col">
         <h3>Car price</h3>

      </div>
   </div>
   <div class="row">

      <!-- ----------------------------------------------------------------------- -->
      <!--                                Car slide                                -->
      <!-- ----------------------------------------------------------------------- -->

      <div class="col-8">
         <h3>Car slider</h3>
      </div>

      <!-- ----------------------------------------------------------------------- -->
      <!--                               Car seller                                -->
      <!-- ----------------------------------------------------------------------- -->

      <div class="col-4">
         <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">المعلن</div>
            <div class="card-body">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTeS9XDUTM4kkh9tZaW46HDfHhmnpGDGzXMBQ&usqp=CAU" alt=""  style="max-width: 18rem;">
              <p class="card-text"> السعودية - الرياض - النسيم , طريق عبدالرحمن بن عوف، المنار </p>
            </div>
          </div>
      </div>
   </div>

   <!-- ----------------------------------------------------------------------- -->
   <!--                            car details title                            -->
   <!-- ----------------------------------------------------------------------- -->
   <div class="col-8  car-details">
      <div class="row">
         car details title
      </div>
      <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>رقم الإعلان :</th>
            <td>10290305</td>
         </div>

         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>الماركة :</th>
            <td> ايسوزو </td>
         </div>



         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>المدينة:</th>
            <td>الخرطوم</td>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>السعر:</th>
            <td>30000 SDG</td>
         </div>



         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>الموديل :</th>
            <td>2003</td>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>الممشى:</th>
            <td>50000 كيلومتر</td>
         </div>
      </div>

      <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>الوارد :</th>
            <td> سعودي</td>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>نوع القير :</th>
            <td> عادي</td>
         </div>



         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>نوع الوقود :</th>
            <td> ديزل</td>
         </div>
      </div>
      <div class="row">

         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>نوع الدفع :</th>
            <td> دبل (4x4)</td>
         </div>


         <div class="col-lg-4 col-md-4 col-sm-12">
            <th> اللون:</th>
            <td>أبيض</td>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th> اللون:</th>
            <td>أبيض</td>
         </div>
      </div>

      <!-- ----------------------------------------------------------------------- -->
      <!--                           additional details                            -->
      <!-- ----------------------------------------------------------------------- -->
      <div class="row">
         <th> مميزات اضافية </th>
      </div>
      <div class="row">
         <ul>
            <li class="text-right">
               محرك 4 سلندر 2.5 CC ديزل تيربو
            </li>
         </ul>
      </div>
   </div>