<div class="container jumbotron pt-0">
    <!-- ----------------------------------------------------------------------- -->
      <!--                                Car name                                 -->
      <!-- ----------------------------------------------------------------------- -->
  <!--  <div class="row">

     

      <div class="col-lg-6 col-md-6 col-sm-12 bg-secondary pb-3 pt-3">
         <h5>{{vehicle.make}} {{vehicle.model}} {{vehicle.year}}</h5>

      </div>



      <div class="col-lg-6 col-md-6 col-sm-12 bg-secondary pb-3 pt-3 text-left">
         <h5>{{vehicle.price}} SDG</h5>

      </div>
   </div> -->
   <div class="row mt-3">

      <!-- ----------------------------------------------------------------------- -->
      <!--                                Car carousel                                -->
      <!-- ----------------------------------------------------------------------- -->

      <div class="col-lg-8 col-md-8 col-sm-12">
         <carousel [(activeSlide)]="activeImage">
            <slide *ngFor="let slide of vehicle.imageUrl; let index=index">
               <img src="{{assetsUrl}}{{slide}}" alt="car slide" style="display: block; width: 100%; max-height: 30em;">
            </slide>
         </carousel>
         <div class="card-body d-flex flex-wrap" >
            <div *ngFor="let image of vehicle.imageUrl; let i = index;">
               <img  src="{{assetsUrl}}{{image}}" alt="car slide"  [ngClass]="{'image-active': activeImage === i, 'image':activeImage !== i }"  (click)="activeImage = i">
            </div>
         </div>
      </div>

      <!-- ----------------------------------------------------------------------- -->
      <!--                               Car seller                                -->
      <!-- ----------------------------------------------------------------------- -->

      <div class="col-lg-4 col-md-4 col-sm-12">
         <div class="card">
            <div class="card-header">
               <h5>المعلن</h5>
            </div>
            <div class="card-body">
               <h5 class="card-title">{{vehicle.agentName}}</h5>
               <p class="card-text">{{vehicle.agentLocation}}</p>
               <!-- {{vehicle.agentPhoneNumber}} -->
               <a class="btn btn-primary btn-block text-white">إظهار ارقام الهواتف</a>

            </div>
         </div>
      </div>
   </div>

   <!-- ----------------------------------------------------------------------- -->
   <!--                            car details title                            -->
   <!-- ----------------------------------------------------------------------- -->
   <div class="col-8  car-details">
      <div class="row">
         <th>تفاصيل السيارة</th>
      </div>
      <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>رقم الإعلان :</th>
            <td>{{vehicle.id}}</td>
         </div>

         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>الماركة :</th>
            <td> {{vehicle.make}} </td>
         </div>



         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>المدينة:</th>
            <td>{{vehicle.agentLocation}}</td>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>السعر:</th>
            <td>{{vehicle.price}} SDG</td>
         </div>



         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>الموديل :</th>
            <td>{{vehicle.model}}</td>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>الممشى:</th>
            <td>{{vehicle.mileage}} كيلومتر</td>
         </div>
      </div>

      <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>الحالة :</th>
            <td> {{vehicle.condition}}</td>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>نوع القير :</th>
            <td> {{vehicle.transmission}}</td>
         </div>



         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>نوع الوقود :</th>
            <td> {{vehicle.fuel}}</td>
         </div>
      </div>
      <div class="row">

         <div class="col-lg-4 col-md-4 col-sm-12">
            <th>نوع الدفع :</th>
            <td> دبل (4x4)</td>
         </div>


         <div class="col-lg-4 col-md-4 col-sm-12">
            <th> اللون:</th>
            <td>{{vehicle.color}}</td>
         </div>
         <!-- <div class="col-lg-4 col-md-4 col-sm-12">
            <th> اللون:</th>
            <td>أبيض</td>
         </div> -->
      </div>

      <!-- ----------------------------------------------------------------------- -->
      <!--                           additional details                            -->
      <!-- ----------------------------------------------------------------------- -->
      <div class="row">
         <th> مميزات اضافية </th>
      </div>
      <div class="row">
         <ul>
            <li>
               {{vehicle.description}}
            </li>
         </ul>
      </div>
   </div>