<section>
   <div class="container p-4" style="background-color: #ecf0f1 ;" *ngIf="!isLoading">
      <div class="row mb-md-2">

         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4" *ngFor="let vehicle of vehicles">
            <div class="card border-secondary  mb-3" style="max-width: 20rem; width: 20rem;"
               [routerLink]="['/vehicle-details', vehicle.id]" (click)="vehicles = []">
               <a class="position-relative">
                  <img src="{{vehicle.imageUrl}}" class="card-img-top" alt="vehicle-image"> </a>
               <div class="card-body">
                  <a class="d-flex align-items-start">
                     <h5 class="font-weight-normal text-success">{{vehicle.make}} {{vehicle.model}} {{vehicle.year}}
                     </h5>
                  </a>
                  <div class="post-meta d-flex align-items-start">
                     <span class="font-weight-normal">
                        <i class="icon ion-md-pin mr-2 text-success"></i>
                        {{vehicle.agentLocation}}
                     </span>
                  </div>

                  <div class="d-flex justify-content-between p-2">
                     <div class="col pr-0">
                        <span class="text-muted font-small  mb-2">{{ 'VehicleList.Mileage' | translate }}</span>
                        <span class="h5 text-dark font-weight-bold">{{vehicle.mileage}}</span>
                     </div>
                     <div class="col pl-0">
                        <span class="text-muted font-small mb-2">{{ 'VehicleList.Price' | translate }}</span>
                        <span class="h5 text-dark font-weight-bold">{{vehicle.price}} جنيه</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row justify-content-center pt-5" *ngIf="showVehicleList">
         <div class="pagination pagination-lg">
            <pagination [totalItems]="paginationInfo.TotalCount" [ngModel]="paginationInfo.CurrentPage"
               (pageChanged)="pageChanged($event)" [itemsPerPage]="paginationInfo.PageSize" previousText="&lsaquo;"
               nextText="&rsaquo;">
            </pagination>
         </div>
      </div>

      <div class="row justify-content-center" style="margin: 0px 2px;" *ngIf="!showVehicleList">
         <button class="btn btn-primary btn-block" [routerLink]="['/', {queryParams: {make: vehicles[0].make}}]">
            تصفح مزيد من سيارات {{vehicles[0].make}}
         </button>
      </div>
   </div>
<div class="loader" *ngIf="isLoading">
   <app-loader></app-loader>
</div>
</section>