.card {
   cursor: pointer;
}

.v-image {
  height: 100%;
  width: 100%;
  display: block;
}

.col span {
   display: flex;
   align-items: flex-start;
} 
.vertical-center {
   float: left;
   padding: 10px;
}
