<app-search-vehicle></app-search-vehicle>
<section class="pt-5 pb-5">
   <div class="container">
      <div class="row mb-md-2">
         <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm border-light mb-4">
               <a href="#" class="position-relative">
                  <img src="https://via.placeholder.com/500x350/5fa9f8/ffffff" class="card-img-top" alt="image"> </a>
               <div class="card-body">
                  <a href="#">
                     <h5 class="font-weight-normal">Coworking Workspace</h5>
                  </a>
                  <div class="post-meta">
                     <span class="small lh-120">
                        <i class="icon ion-md-pin mr-2"></i>
                        الخرطوم
                     </span>
                  </div>

                  <div class="d-flex justify-content-between p-2">

                     <div class="col text-center">
                        <span class="text-muted font-small d-block mb-2">{{ 'VehicleList.Model' | translate }} </span>
                        <span class="h5 text-dark font-weight-bold">10</span>
                     </div>
                     <div class="col pr-0 text-center">
                        <span class="text-muted font-small d-block mb-2">{{ 'VehicleList.Mileage' | translate }}</span>
                        <span class="h5 text-dark font-weight-bold">1500</span></div>
                     <div class="col pl-0 text-center">
                        <span class="text-muted font-small d-block mb-2">{{ 'VehicleList.Price' | translate }}</span>
                        <span class="h5 text-dark font-weight-bold">3500$</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>