.card {
   cursor: pointer;
}
.card-img-top {
   min-height: 15rem;
   max-height: 15rem;
}
.col span {
   display: flex;
   align-items: flex-start;
} 
.vertical-center {
   float: left;
   padding: 10px;
}

