<footer class="footer-area footer-style-two footer-style-three">
   <div class="container">
       <div class="row">
           <div class="col-lg-3 col-sm-6">
               <div class="footer-widget">
                   <div class="footer-logo">
                       <img src="assets/img/logo-two.png" alt="logo">
                   </div>
                   <p>A mobile application, also referred to as a mobile app or simply an app.</p>
                   <div class="footer-social">
                       <a target="_blank" href="#"><i class="flaticon-facebook"></i></a>
                       <a target="_blank" href="#"><i class="flaticon-twitter"></i></a>
                       <a target="_blank" href="#"><i class="flaticon-linkedin"></i></a>
                       <a target="_blank" href="#"><i class="flaticon-instagram"></i></a>
                   </div>
               </div>
           </div>

           <div class="col-lg-3 col-sm-6">
               <div class="footer-widget pl-90">
                   <h3>Company</h3>

                   <ul>
                       <li><a href="#"><i class="flaticon-right"></i>Advertise</a></li>
                       <li><a href="#"><i class="flaticon-right"></i>Support</a></li>
                       <li><a href="#"><i class="flaticon-right"></i>Marketing</a></li>
                       <li><a href="#"><i class="flaticon-right"></i>Bonus</a></li>
                       <li><a href="#"><i class="flaticon-right"></i>Contact</a></li>
                   </ul>
               </div>
           </div>

           <div class="col-lg-3 col-sm-6">
               <div class="footer-widget pl-90">
                   <h3>Quick Links</h3>

                   <ul>
                       <li><a href="#"><i class="flaticon-right"></i>Home</a></li>
                       <li><a href="#"><i class="flaticon-right"></i>Features</a></li>
                       <li><a href="#"><i class="flaticon-right"></i>Screenshots</a></li>
                       <li><a href="#"><i class="flaticon-right"></i>Pricing</a></li>
                       <li><a href="#"><i class="flaticon-right"></i>Testimonial</a></li>
                   </ul>
               </div>
           </div>

           <div class="col-lg-3 col-sm-6">
               <div class="footer-widget pl-90">
                   <h3>Find Us</h3>

                   <ul>
                       <li><a href="tel:+02452142314"><i class="flaticon-right"></i> +0245 214 2314</a></li>
                       <li><a href="mailto:hello@euzan.com"><i class="flaticon-right"></i> hello@euzan.com</a></li>
                       <li><i class="flaticon-right"></i> 28/A Street, USA</li>
                   </ul>
               </div>
           </div>
       </div>
   </div>

   <div class="copyright-area">
       <div class="container">
           <div class="row align-items-center">
               <div class="col-lg-6 col-md-4 lh-1">
                   <img src="assets/img/visa.png" alt="visa card">
                   <img src="assets/img/american-express.png" alt="american-express">
                   <img src="assets/img/discover.png" alt="discover">
                   <img src="assets/img/master-card.png" alt="master card">
               </div>

               <div class="col-lg-6 col-md-8 lh-1">
                   <p>&copy;2020 Euzan. All Rights Reserved by <a href="https://hibootstrap.com/" target="_blank">HiBootstrap.com</a></p>
               </div>
           </div>
       </div>
   </div>
</footer>
