<footer class="footer-area footer-style-two footer-style-three">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-sm-6">
            <div class="footer-widget">
               <div class="footer-logo">
                  <img src="../../../../../assets/images/AlQarash-logo.jpg" alt="logo">
               </div>
               <!-- <p>يأتيكم موقع سيارة بأحدث عروض السيارات الجديدة والمستعملة من المعارض السيارات المنتشرة في أرجاء
                  السودان، محدثة يومياً بآخر الأسعار والمواصفات، إلى جانب معلومات الاتصال الخاصة بهذه المعارض لتسهيل
                  التواصل مع أصحاب العلاقة بشكل مباشر وبدون وسيط. </p> -->
               <div class="footer-social d-flex">
                  <a  href="Facebook.com/alqraash"><i class="icon ion-logo-facebook"></i></a>
                  <a  href="Twitter/alqraash"><i class="icon ion-logo-twitter mr-4 ml-4"></i></a>
                  <!-- <a  href="#"><i class="icon ion-logo-linkedin"></i></a> -->
                  <a  href="Instagram/alqraash"><i class="icon ion-logo-instagram"></i></a>
               </div>
            </div>
         </div>

         <div class="col-lg-3 col-sm-6">
            <div class="footer-widget ">
               <h3>عن الشركة</h3>

               <ul>
                  <li><a href="#"><i class="icon ion-ios-arrow-back"></i>من نحن</a></li>
                  <li><a href="#"><i class="icon ion-ios-arrow-back"></i>خدماتنا</a></li>
                  <!-- <li><a href="#"><i class="icon ion-ios-arrow-back"></i>Marketing</a></li>
                  <li><a href="#"><i class="icon ion-ios-arrow-back"></i>Bonus</a></li>
                  <li><a href="#"><i class="icon ion-ios-arrow-back"></i>Contact</a></li> -->
               </ul>
            </div>
         </div>

         <div class="col-lg-3 col-sm-6">
            <div class="footer-widget pl-90">
               <h3>الروابط</h3>

               <ul>
                  <li><a href="#"><i class="icon ion-ios-arrow-back"></i>الرئيسية</a></li>
                  <li><a href="#"><i class="icon ion-ios-arrow-back"></i>سيارات حديثة</a></li>
                  <li><a href="#"><i class="icon ion-ios-arrow-back"></i>سيارات مستعملة</a></li>
                  <li><a href="#"><i class="icon ion-ios-arrow-back"></i>سيارات بالتقسيط</a></li>
               </ul>
            </div>
         </div>

         <div class="col-lg-3 col-sm-6">
            <div class="footer-widget pl-90">
               <h3>تواصل معنا</h3>

               <ul>
                  <li><a href="tel:+02452142314"><i class="icon ion-ios-arrow-back"></i> +0245 214 2314</a></li>
                  <li><a href="mailto:hello@euzan.com"><i class="icon ion-ios-arrow-back"></i> hello@euzan.com</a></li>
                  <li><i class="icon ion-ios-arrow-back"></i> 28/A Street, USA</li>
               </ul>
            </div>
         </div>
      </div>
   </div>

   <div class="copyright-area">
      <div class="container">
         <div class="row align-items-center">
           <!--  <div class="col-lg-6 col-md-4 lh-1">
               <img src="assets/img/visa.png" alt="visa card">
               <img src="assets/img/american-express.png" alt="american-express">
               <img src="assets/img/discover.png" alt="discover">
               <img src="assets/img/master-card.png" alt="master card">
            </div> -->

            <div class="col-lg-6 col-md-8 lh-1">
               <p>&copy;2020 alqarash. جميع الحقوق محفوظة
            </div>
         </div>
      </div>
   </div>
</footer>