<section>
   <div class="container">
      <div class="row">


         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 card-skeleton">
            <div class="animated-background">
               <div class="card-skeleton-img"></div>
               <div class="skel-mask-container">
                  <div class="skel-mask skel-mask-1"></div>
                  <div class="skel-mask skel-mask-2"></div>
                  <div class="skel-mask skel-mask-3"></div>
                  <div class="skel-mask skel-mask-4"></div>
                  <div class="skel-mask skel-mask-5"></div>
                  <div class="skel-mask skel-mask-6"></div>
               </div>
            </div>
         </div>
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4  card-skeleton">
            <div class="animated-background">
               <div class="card-skeleton-img"></div>
               <div class="skel-mask-container">
                  <div class="skel-mask skel-mask-1"></div>
                  <div class="skel-mask skel-mask-2"></div>
                  <div class="skel-mask skel-mask-3"></div>
                  <div class="skel-mask skel-mask-4"></div>
                  <div class="skel-mask skel-mask-5"></div>
                  <div class="skel-mask skel-mask-6"></div>
               </div>
            </div>
         </div>
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4  card-skeleton">
            <div class="animated-background">
               <div class="card-skeleton-img"></div>
               <div class="skel-mask-container">
                  <div class="skel-mask skel-mask-1"></div>
                  <div class="skel-mask skel-mask-2"></div>
                  <div class="skel-mask skel-mask-3"></div>
                  <div class="skel-mask skel-mask-4"></div>
                  <div class="skel-mask skel-mask-5"></div>
                  <div class="skel-mask skel-mask-6"></div>
               </div>
            </div>
         </div>
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4  card-skeleton">
            <div class="animated-background">
               <div class="card-skeleton-img"></div>
               <div class="skel-mask-container">
                  <div class="skel-mask skel-mask-1"></div>
                  <div class="skel-mask skel-mask-2"></div>
                  <div class="skel-mask skel-mask-3"></div>
                  <div class="skel-mask skel-mask-4"></div>
                  <div class="skel-mask skel-mask-5"></div>
                  <div class="skel-mask skel-mask-6"></div>
               </div>
            </div>
         </div>
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4  card-skeleton">
            <div class="animated-background">
               <div class="card-skeleton-img"></div>
               <div class="skel-mask-container">
                  <div class="skel-mask skel-mask-1"></div>
                  <div class="skel-mask skel-mask-2"></div>
                  <div class="skel-mask skel-mask-3"></div>
                  <div class="skel-mask skel-mask-4"></div>
                  <div class="skel-mask skel-mask-5"></div>
                  <div class="skel-mask skel-mask-6"></div>
               </div>
            </div>
         </div>
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 card-skeleton">
            <div class="animated-background">
               <div class="card-skeleton-img"></div>
               <div class="skel-mask-container">
                  <div class="skel-mask skel-mask-1"></div>
                  <div class="skel-mask skel-mask-2"></div>
                  <div class="skel-mask skel-mask-3"></div>
                  <div class="skel-mask skel-mask-4"></div>
                  <div class="skel-mask skel-mask-5"></div>
                  <div class="skel-mask skel-mask-6"></div>
               </div>
            </div>
         </div>
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 card-skeleton">
            <div class="animated-background">
               <div class="card-skeleton-img"></div>
               <div class="skel-mask-container">
                  <div class="skel-mask skel-mask-1"></div>
                  <div class="skel-mask skel-mask-2"></div>
                  <div class="skel-mask skel-mask-3"></div>
                  <div class="skel-mask skel-mask-4"></div>
                  <div class="skel-mask skel-mask-5"></div>
                  <div class="skel-mask skel-mask-6"></div>
               </div>
            </div>
         </div>
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4  card-skeleton">
            <div class="animated-background">
               <div class="card-skeleton-img"></div>
               <div class="skel-mask-container">
                  <div class="skel-mask skel-mask-1"></div>
                  <div class="skel-mask skel-mask-2"></div>
                  <div class="skel-mask skel-mask-3"></div>
                  <div class="skel-mask skel-mask-4"></div>
                  <div class="skel-mask skel-mask-5"></div>
                  <div class="skel-mask skel-mask-6"></div>
               </div>
            </div>
         </div>
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4  card-skeleton">
            <div class="animated-background">
               <div class="card-skeleton-img"></div>
               <div class="skel-mask-container">
                  <div class="skel-mask skel-mask-1"></div>
                  <div class="skel-mask skel-mask-2"></div>
                  <div class="skel-mask skel-mask-3"></div>
                  <div class="skel-mask skel-mask-4"></div>
                  <div class="skel-mask skel-mask-5"></div>
                  <div class="skel-mask skel-mask-6"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>