<section class="pt-5 pb-5 mt-0 align-items-end d-flex bg-dark"
   style="min-height: 12vh; background-position: center center; background-size: cover; background-image: url(https://images.unsplash.com/photo-1505592225030-dad7a0531844?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">

   <div class="container ">

      <div class="row mt-auto">
         <div class="col-lg-8 col-sm-12 ">
            <div class="text-center text-lg-left">
               <h1 class="display-3 text-white font-weight-bold text-shadow">Stay like a local</h1>
            </div>

         </div>
      </div>
      <div class="row mb-5">
         <div class=" col-md-9">
            <div class="card   mt-5 border-light shadow">
               <div class="card-body pb-2 pt-3">
                  <form>
                     <div class="form-row">
                        <div class="col-md-5 col-sm-12">
                           <input class="form-control mb-2 border-0" placeholder="What are you searching for?"
                              type="text">

                        </div>
                        <div class="col-md-4 col-sm-12">

                           <input class="form-control border-0" placeholder="Location" type="text">
                           <!-- passenger wrap -->
                           <!-- input-group.// -->
                           <!-- passenger wrap.// -->
                        </div>
                        <!-- col.// -->
                        <div class="col-md-3 col-sm-12">
                           <button class="btn btn-primary btn-block  shadow" type="submit">Search</button>
                        </div>
                     </div>
                  </form>

               </div>
            </div>
         </div>
      </div>
      <!-- row.// -->

   </div>
</section>